# ANTHROPIC_API_KEY=some-key
# AIDER_HAIKU=true

HUGGINGFACE_API_KEY=some-key
AIDER_MODEL=huggingface/Qwen/Qwen2.5-Coder-32B-Instruct

AIDER_LINT=false
AIDER_AUTO_LINT=false

AIDER_AUTO_TEST=false
AIDER_TEST=false

AIDER_DARK_MODE=true

AIDER_WATCH_FILES=true

AIDER_GUI=false
AIDER_COPY_PASTE=false
