[user]
    name = Adran Carnavale
    email = adran.carnavale@gmail.com
    signingkey = ~/.ssh/id_ed25519.pub
[github]
    user = crnvl96
[init]
    defaultBranch = main
[core]
    editor = $EDITOR
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RF
[pager]
    dsf = diff-so-fancy | less --tabs=4 -RFXS
[commit]
    gpgsign = true
[gpg]
    format = ssh
[alias]
    st = status
    c = commit
    dt = difftool -y
    dsf = diff --color
[pull]
    rebase = false
[fetch]
    prune = true
[merge]
    conflictstyle = diff3
[diff]
  tool = nvim_difftool
[difftool "nvim_difftool"]
  cmd = nvim -c \"packadd nvim.difftool\" -d \"$LOCAL\" \"$REMOTE\"
[diff-so-fancy]
  markEmptyLines = false
  changeHunkIndicators = false
  ; stripLeadingSymbols = false
