tmux/**/plugins/
tmux/**/ressurrect/

rofi/**/themes/

i3/**/wallpapers/

.idea

lazygit/**/state.yml

fonts/*

nvim/**/.lsp
nvim/**/styles/

emacs/**/eln-cache/
emacs/**/elpa/
emacs/**/projectile-bookmarks.eld
emacs/**/recentf
emacs/**/transient/

vim/**/plugged/
vim/**/autoload/plug.vim
vim/**/undo/
vim/**/.netrwhist
