notARepository: 'quit'
git:
  overrideGpg: true
  pagers:
    - colorArg: always
os:
  editPreset: nvim-remote
gui:
  showBottomLine: false
  border: double
  nerdFontsVersion: '3'
keybinding:
  files:
    commitChangesWithoutHook: <disabled>
