[Desktop Entry]
Version=1.0
Name=Bitwarden
GenericName=Password Manager
Comment=A secure and free password manager for all of your devices.
# nvidia
Exec=bitwarden-desktop --enable-features=UseOzonePlatform --ozone-platform=x11
Terminal=false
MimeType=x-scheme-handler/bitwarden
Type=Application
Icon=bitwarden
Categories=Utility;
StartupWMClass=Bitwarden
