[Desktop Entry]
Version=1.0
Name=Typora
GenericName=Markdown Editor
# nvidia
Exec=typora --enable-features=UseOzonePlatform --ozone-platform=x11 %U
Icon=typora
Type=Application
StartupNotify=true
Categories=Office;WordProcessor;
MimeType=text/markdown;text/x-markdown;
