[Desktop Entry]
Version=1.0
Name=Typora
GenericName=Markdown Editor
Exec=typora --enable-features=UseOzonePlatform --ozone-platform=x11 --gtk-version=4 %U
Icon=typora
Type=Application
StartupNotify=true
Categories=Office;WordProcessor;
MimeType=text/markdown;text/x-markdown;
