OPENAI_API_KEY=
ANTHROPIC_API_KEY=
GEMINI_API_KEY=
DEEPSEEK_API_KEY=
XAI_API_KEY=
VENICE_API_KEY=

# General Aider Configs
AIDER_SHOW_DIFFS=false
AIDER_AUTO_COMMITS=false
AIDER_AUTO_LINT=true
AIDER_AUTO_TEST=false
AIDER_WATCH_FILES=true
AIDER_DARK_MODE=true
