# --model anthropic
# console: https://console.anthropic.com/dashboard
ANTHROPIC_API_KEY=

# --model gemini
# console: https://aistudio.google.com/apikey
GEMINI_API_KEY=

# --model deepseek
# console: https://platform.deepseek.com/usage
DEEPSEEK_API_KEY=

# --model xai
# console: https://console.x.ai/team/bfc3c115-d34f-4d5c-b52e-9d10a63ecfa8
XAI_API_KEY=

# --model openai
# console: https://platform.openai.com/settings/organization/billing/overview
OPENAI_API_KEY=

# General Configs
AIDER_SHOW_DIFFS=false
AIDER_AUTO_COMMITS=false
AIDER_AUTO_LINT=true
AIDER_AUTO_TEST=false
AIDER_WATCH_FILES=true
AIDER_DARK_MODE=true
