# console: https://console.anthropic.com/dashboard
ANTHROPIC_API_KEY=some_key

# console: https://aistudio.google.com/apikey
GEMINI_API_KEY=some_key

# console: https://platform.deepseek.com/usage
DEEPSEEK_API_KEY=some_key

# console: https://console.x.ai/team/bfc3c115-d34f-4d5c-b52e-9d10a63ecfa8
XAI_API_KEY=xai-some_key

# OpenAI
# console: https://platform.openai.com/settings/organization/billing/overview
# OPENAI_API_KEY=some_key

# Venice AI
# compatibility mapping: https://docs.venice.ai/api-reference/endpoint/models/compatibility_mapping?playground=open
# console: https://venice.ai/settings/api
# aider --model o1-mini/o1
OPENAI_API_BASE=https://api.venice.ai/api/v1
OPENAI_API_KEY=some_key

# General Configs
AIDER_SHOW_DIFFS=false
AIDER_AUTO_COMMITS=false
AIDER_AUTO_LINT=true
AIDER_AUTO_TEST=false
AIDER_WATCH_FILES=true
