keybinds clear-defaults=true {
    locked {
        bind "Ctrl f" { SwitchToMode "normal"; }

        bind "Alt h" { MoveFocus "left"; }
        bind "Alt j" { MoveFocus "down"; }
        bind "Alt k" { MoveFocus "up"; }
        bind "Alt l" { MoveFocus "right"; }

        bind "Alt p" { GoToPreviousTab; }
        bind "Alt n" { GoToNextTab; }

        bind "Alt 1" { GoToTab 1; }
        bind "Alt 2" { GoToTab 2; }
        bind "Alt 3" { GoToTab 3; }
        bind "Alt 4" { GoToTab 4; }
        bind "Alt 5" { GoToTab 5; }
        bind "Alt 6" { GoToTab 6; }
        bind "Alt 7" { GoToTab 7; }
        bind "Alt 8" { GoToTab 8; }
        bind "Alt 9" { GoToTab 9; }

        bind "Alt H" { Resize "Increase left"; }
        bind "Alt J" { Resize "Increase down"; }
        bind "Alt K" { Resize "Increase up"; }
        bind "Alt L" { Resize "Increase right"; }

    }
    normal {
        bind "R" { SwitchToMode "renamepane"; PaneNameInput 0; }
        bind "n" { NewPane; SwitchToMode "locked"; }
        bind "X" { CloseFocus; SwitchToMode "locked"; }

        bind "c" { NewTab; SwitchToMode "locked"; }
        bind "r" { SwitchToMode "renametab"; TabNameInput 0; }
        bind "x" { CloseTab; SwitchToMode "locked"; }

        bind "q" { SwitchToMode "locked"; }

        bind "m" { LaunchOrFocusPlugin "session-manager" { floating true; move_to_focused_tab true; }; SwitchToMode "locked"; }
        bind "A" { LaunchOrFocusPlugin "zellij:about" { floating true; move_to_focused_tab true; }; SwitchToMode "locked"; }
        bind "C" { LaunchOrFocusPlugin "configuration" { floating true; move_to_focused_tab true; }; SwitchToMode "locked"; }
        bind "P" { LaunchOrFocusPlugin "plugin-manager" { floating true; move_to_focused_tab true; }; SwitchToMode "locked"; }
        bind "S" { LaunchOrFocusPlugin "zellij:share" { floating true; move_to_focused_tab true; }; SwitchToMode "locked"; }
    }
    renametab {
        bind "Enter" { SwitchToMode "locked"; }
        bind "esc" { UndoRenameTab; SwitchToMode "locked"; }
        bind "Ctrl c" { UndoRenameTab; SwitchToMode "locked"; }
    }
    renamepane {
        bind "Enter" { SwitchToMode "locked"; }
        bind "esc" { UndoRenamePane; SwitchToMode "locked"; }
        bind "Ctrl c" { UndoRenamePane; SwitchToMode "locked"; }
    }
}

simplified_ui true
theme "ansi"
default_mode "locked"
default_layout "compact"
copy_command "wl-copy"
pane_frames false
