simplified_ui true
theme "ansi"
default_layout "compact"
pane_frames false
on_force_close "quit"
copy_command "wl-copy" // wayland
copy_on_select true
session_serialization false
show_startup_tips false
